services:
   app:
      container_name: infirmiere68000-dev
      build:
         context: .
         dockerfile: Dockerfile.dev
      restart: unless-stopped
      ports:
         - "3005:3005"
      env_file:
         - .env
      volumes:
         - .:/app
         - /app/node_modules
         - /app/.next
      environment:
         NODE_ENV: development
         PORT: 3005
